@model List<BasketListModel>

<!DOCTYPE html>
<html>
<head>
    <title>Basket List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        img.product-image {
            max-width: 100px;
            max-height: 100px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <h1>Basket List</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" type="text" id="couponInput" placeholder="Coupon Code">
                    <div class="input-group-append" style="display:flex">
                        <button class="btn btn-primary btn-sm" onclick="activateCoupon()" style="border-radius: 0;">Activate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td id="totalPrice">
                        @item.TotalPrice

                    </td>
                    <td>
                        @foreach (var image in item.Images)
                        {
                            <img class="product-image" src="@image.Path" />
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btnDecrease" data-id="@item.ProductId">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-success btnAdd" data-id="@item.ProductId">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button id="completeShopping" class="btn btn-danger">Alışverişi Tamamla</button>

</body>

</html>

@section Scripts
{
    <script src="~/js/basket/basket.js"></script>

}
